# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example
GoNOW/.gitignore
GoNOW/docs/.nojekyll
GoNOW/docs/index.html
GoNOW/docs/modules.html
GoNOW/docs/assets/hierarchy.js
GoNOW/docs/assets/highlight.css
GoNOW/docs/assets/icons.js
GoNOW/docs/assets/icons.svg
GoNOW/docs/assets/main.js
GoNOW/docs/assets/navigation.js
GoNOW/docs/assets/search.js
GoNOW/docs/assets/style.css
GoNOW/docs/functions/default.html
